/* GENERAL LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

/* General container */
#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  width: 100%;
  padding: 15px 30px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Input */
.search-input {
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-right: 5px;
  background-color: #e2e2e2;
  outline: none;
  border: none;
  color: #141414;
}

.search-input:focus {
  background-color: #141414;
  color: #fff;
  outline: 2px solid#fff;
}

.search-btn {
  font-size: 20px;
  color: #dc1a28;
  cursor: pointer;
}

/* Main content */
.movie-tv_container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 100px;
  background-color: #141414;
  color: #fff;
}

.movie-tv {
  position: relative;
  margin-bottom: 20px;
}

.movie-tv ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 342px;
  min-height: 515px;
  padding: 10px 5px;
  background-color: rgba(20, 20, 20, 0.6);
  color: rgba(255, 255, 255, 1);
  list-style: none;
  opacity: 0;
  transition: opacity .2s linear;
}

.movie-tv ul:hover {
  opacity: 1;
}

.language-flag {
  max-width: 20px;
}